*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
build/
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
bin/
doc/
darknet

log.err
log.out
log.txt
voc_label.py

.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
*.weights
*.a
*.so
*.tar
